<div th:fragment="cdn"  th:remove="tag">

	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function (){
        var table = $('#datatable').DataTable({ 
        "language": {
        "lengthMenu": "Mostrar _MENU_ registros",
        "zeroRecords": "No se encontraron resultados",
        "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
        "infoFiltered": "(filtrado de un total de _MAX_ registros)",
        "sSearch": "Buscar:",
        "oPaginate": {
        "sFirst": "Primero",
        "sLast":"Último",
        "sNext":"Siguiente",
        "sPrevious": "Anterior"
        },
        "sProcessing":"Procesando...",
        },
        "columnDefs": [    { "visible": false, "targets": 0 }  ],
        "responsive": "true"        
        });
        });


        $(function () {
        	$('[data-toggle="tooltip"]').tooltip()
        	})  
    </script>
	
</div>