<div th:fragment="user"  th:remove="tag">
	<nav class="navbar navbar-expand-lg navbar-dark fixed-top py-3" style="background-color: rgb(6, 37, 62);">
	  	<div class="container-fluid" style="background-color: rgb(4, 37, 62);">
	    	
	    	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      		<span class="navbar-toggler-icon"></span>
	    	</button>
				     	
				    	<li class="dropstart btn btn-menu" sec:authorize="isAuthenticated()">
				        	<a 	class="nav-link dropdown-toggle btn wbtn-outline-green mt-0 pt-1" 
				          		href="#" id="navbarDropdown" 
				          		role="button" data-bs-toggle="dropdown" 
				          		aria-expanded="false"
				          		th:text="${#authentication.getPrincipal().getUsername()}">
				 			</a>
					        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					          	<li><a class="dropdown-item" href="#">Enlace 1</a></li>
					            <li><a class="dropdown-item" href="#">Enlace 2</a></li>
					            <li><hr class="dropdown-divider"></li>
					            <li>
					            	<form th:action="@{/logout}" th:method="post" id="formLogout">
					            		<button class="dropdown-item" onclick="document.getElementById('formLogout').submit();">
					            			<i class="fas fa-sign-out-alt"></i><span> Cerrar Sesión </span>
					            		</button>
					            	</form>
					            </li>
					        </ul>
				        </li>
				    
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    
	    <ul class="navbar-nav mb-2 mb-lg-0">
        
	    	<li class="nav-item">
	        	<a class="nav-link" th:classappend="${menuHome!=null}? 'active'" aria-current="page" th:href="@{/usuario/inicio}">Reserva de boletos</a>
	        </li>
	        
	        <li class="nav-item">
	        	<a class="nav-link" th:classappend="${menuDatos!=null}?' active'" th:href="@{/usuario/persona/datos}" th:if="${personaCl}">Mis Datos</a>
	        	<a class="nav-link" th:classappend="${menuDatos!=null}?' active'" th:href="@{/usuario/empresa/datos}" th:if="${empresaCl}">Mis Datos</a>
	        </li>
	        
	        <li class="nav-item">
	        	<a class="nav-link" href="#">MisCompras</a>
	        </li>
	        	        
	        <li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	            Dropdown
	          </a>
	          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
	            <li><a class="dropdown-item" href="#">Action</a></li>
	            <li><a class="dropdown-item" href="#">Another action</a></li>
	            <li><hr class="dropdown-divider"></li>
	            <li><a class="dropdown-item" href="#">Something else here</a></li>
	          </ul>
	        </li>
	        
	      </ul>
	      
	      <a class="btn wbtn-outline-green" th:href="@{/login}" sec:authorize="!isAuthenticated()">Login</a>        
	      
	    </div>

	    
	    </div>
	  
	</nav>
	<div style="height: 0.5em; background-color: rgb(189, 1, 19);"></div>
</div>

<!-- ##########################################################################################################################-->	
<!-- ################################          BARRA DE NAVEGACIÓN PARA ADMINISTRADORES       #################################-->
<!-- ##########################################################################################################################-->	 

<div th:fragment="admin"  th:remove="tag">
	<nav class="navbar navbar-expand-lg navbar-dark fixed-top py-3" style="background-color: rgb(6, 37, 62);">
	  	<div class="container-fluid" style="background-color: rgb(4, 37, 62);">
	    	
	    	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      		<span class="navbar-toggler-icon"></span>
	    	</button>
				     	
	    	<li class="dropstart btn btn-menu" sec:authorize="isAuthenticated()">
	        	<a 	class="nav-link dropdown-toggle btn wbtn-outline-green mt-0 pt-1" 
	          		href="#" id="navbarDropdown" 
	          		role="button" data-bs-toggle="dropdown" 
	          		aria-expanded="false"
	          		th:text="${#authentication.getPrincipal().getUsername()}">
	 			</a>
		        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
		          	<li><a class="dropdown-item" href="#">Enlace 1</a></li>
		            <li><a class="dropdown-item" href="#">Enlace 2</a></li>
		            <li><hr class="dropdown-divider"></li>
		            <li><form th:action="@{/logout}" th:method="post" id="formLogout">
		            		<button class="dropdown-item" onclick="document.getElementById('formLogout').submit();">
		            			<i class="fas fa-sign-out-alt"></i><span> Cerrar Sesión </span>
		            		</button>
		            	</form>
		            </li>
		        </ul>
		        <strong th:if="${fechaSistema}" th:text="${fechaSistema}" class="text-danger"></strong>
	        </li>
	        
			  
	    	<div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav mb-2 mb-lg-0">
		       
			    	<li class="nav-item">
			        	<a class="nav-link active" aria-current="page" href="#">Administración</a>
			        </li>
			        <!--//////////////////////// BOTONES DE LA NAV BAR PARA ADMIN GENERAL//////////////////////-->  
			        <li class="nav-item dropdown"  sec:authorize="hasRole('admin')"> <!--### ADMIN ###-->
				        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				            Usuarios
				        </a>
				        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						    <li><a class="dropdown-item" href="#">Personas</a></li>
						    <li><a class="dropdown-item" href="#">Empresas</a></li>
						    <li><a class="dropdown-item" th:href="@{/gestion/usuario/listar}">Todos</a></li>
						    <li><hr class="dropdown-divider"></li>
						    <li><a class="dropdown-item" href="#">Roles</a></li>
				        </ul>
			        </li>
			        
			        <li class="nav-item dropdown" sec:authorize="hasRole('admin')">
				        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				            Aerolineas
				        </a>
				        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

						    <li><a class="dropdown-item" th:href="@{/gestion/aerolinea/lista}">Aerolineas</a></li>
							<li><a class="dropdown-item" th:href="@{/avion/lista}">Aviones</a></li>
						    <li><a class="dropdown-item" href="#">Vuelos</a></li>
						    <li><a class="dropdown-item" href="#">Viajes</a></li>
						    
				        </ul>
			        </li>
			        
			        <li class="nav-item" sec:authorize="hasRole('admin')">
			        	<a class="nav-link" th:href="@{/gestion/aeropuerto/lista}">Aeropuertos</a>
			        </li>
			        
			        
			        <li class="nav-item dropdown" sec:authorize="hasRole('admin')">
				        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				            Parametrizables
				        </a>
				        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						    <li><a class="dropdown-item" th:href="@{/gestion/tipoDoc/lista}">Tipos de Documento</a></li>
						    <li><a class="dropdown-item" th:href="@{/gestion/estCivil/lista}">Estado Civil</a></li>
						    <li><a class="dropdown-item" th:href="@{/gestion/pais/lista}">Paises</a></li>
						    <li><a class="dropdown-item" th:href="@{/avion/tipoAvion/lista}">Tipos de Avión</a></li>
						    <li><a class="dropdown-item" th:href="@{/avion/clase/lista}">Clases de Asiento</a></li>
						    <li><a class="dropdown-item" th:href="@{/gestion/socialNetwork/lista}">Redes Sociales</a></li>
						    <li><a class="dropdown-item" th:href="@{/gestion/estVuelo/lista}">Estado de vuelo</a></li>
				        </ul>
			        </li>
			        
			        <!--//////////////////////// BOTONES DE LA NAV BAR PARA ADMIN AEROLINEA //////////////////////-->  
			        <li class="nav-item" sec:authorize="hasRole('aerolinea_admin')">
			        	<a class="nav-link" href="#">Datos</a>
			        </li>
			        
			        <li class="nav-item" sec:authorize="hasRole('aerolinea_admin')">
			        	<a class="nav-link" href="#">Vuelos</a>
			        </li>
			        
			        <li class="nav-item" sec:authorize="hasRole('aerolinea_admin')">
			        	<a class="nav-link" href="#">Viajes</a>
			        </li>
			        
			        <li class="nav-item" sec:authorize="hasRole('aerolinea_admin')">
			        	<a class="nav-link" href="#">Aviones</a>
			        </li>
			        
			        <!--/////////////////////// BOTONES DE LA NAV BAR PARA ADMIN AEROPUERTO //////////////////////-->  
			        
			        <li class="nav-item" sec:authorize="hasRole('aeropuerto_admin')">
			        	<a class="nav-link" href="#">Datos</a>
			        </li>
			        
			        <li class="nav-item" sec:authorize="hasRole('aeropuerto_admin')">
			        	<a class="nav-link" href="#">Hangares</a>
			        </li>
			        
			    </ul>
		      	<a class="btn wbtn-outline-green" th:href="@{/login}" sec:authorize="!isAuthenticated()">Login</a>  
	    	</div>
	    </div>
	</nav>
	<div style="height: 0.5em; background-color: rgb(189, 1, 19);"></div>
</div>

















