<div th:fragment="user"  th:remove="tag">
	<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(6, 37, 62);">
	  	<div class="container-fluid" style="background-color: rgb(4, 37, 62);">
	    	<a class="navbar-brand" href="#">[[${title}]]</a>
	    	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      		<span class="navbar-toggler-icon"></span>
	    	</button>
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    
	    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
<!-- ##########################################################################################################################-->		    	
	    	
	    	<li class="nav-item dropdown" sec:authorize="isAuthenticated()">
	        	<a 	class="nav-link dropdown-toggle" 
	          		href="#" id="navbarDropdown" 
	          		role="button" data-bs-toggle="dropdown" 
	          		aria-expanded="false"
	          		th:text="${#authentication.getPrincipal().getUsername()}">
	 			</a>
		        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
		          	<li><a class="dropdown-item" href="#">Enlace 1</a></li>
		            <li><a class="dropdown-item" href="#">Enlace 2</a></li>
		            <li><hr class="dropdown-divider"></li>
		            <li>
		            	<form th:action="@{/logout}" th:method="post" id="formLogout">
		            		<button class="dropdown-item" onclick="document.getElementById('formLogout').submit();">
		            			<i class="fas fa-sign-out-alt"></i><span> Cerrar Sesión </span>
		            		</button>
		            	</form>
		            </li>
		        </ul>
	        </li>
<!-- ##########################################################################################################################-->	        
	    	<li class="nav-item">
	        	<a class="nav-link active" aria-current="page" href="#">Home</a>
	        </li>
	        
	        <li class="nav-item">
	        	<a class="nav-link" href="#">Link</a>
	        </li>
	        
	        
	        <li class="nav-item">
	          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
	        </li>
	      </ul>
	      
	      <a class="btn wbtn-outline-green" th:href="@{/login}" sec:authorize="!isAuthenticated()">Login</a>
	      
	      
	    </div>
	  </div>
	</nav>
</div>