<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" 
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Formulario Avión</title>
        <meta charset="UTF-8">
    <div th:replace="fragmentos/head::bootstrap"></div>
</head>
<body>
    <div th:replace="fragmentos/navbar::admin" sec:authorize="hasAnyRole({'admin_aerolinea','admin_aeropuerto','admin'})"></div>
    <div th:replace="fragmentos/mensajes::alertas"></div>

    <div class="container-sm">
        <div class="col-md-12 mx-auto my-3">
            <div class="card">
                <div class="card-header bg-light d-flex justify-content-between">
                    <div class="h4 text-secondary d-inline-block my-1">
                        Avion Crear
                    </div>
                    <div class="d-inline-block align-self-middle">
                        <a type="button" class="btn btn-success wbtn-green" th:href="@{/avion/lista}"><i class="fas fa-redo-alt"></i>
                            <span>Regresar</span>
                        </a>

                    </div>
                </div>
            </div>
            <br>

            <form>
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre">                   
                </div>                
                <div class="mb-3">
                    <label for="marca" class="form-label">Marca</label>
                    <input type="text" class="form-control" id="marca">                   
                </div>
                <div class="mb-3">
                    <label for="modelo" class="form-label">Modelo</label>
                    <input type="text" class="form-control" id="modelo">                   
                </div>

                <div class="mb-3">
                    <label for="aerolinea" class="form-label">Aerolinea</label>
                    <select id="aerolinea" class="form-control form-control-sm " >
                        <option value="">-- seleccione --</option>
                        <option th:each="c : ${aerolineas}" th:text="${c.nombreCorto}" th:value="${c.id}"> </option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>

    </div>
</body>
</html>
