<!DOCTYPE html>
<html   
		xmlns:th="https://www.thymeleaf.org" 
		xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<meta charset="UTF-8" />
	<title th:text="${titulo}"></title>
	
	<div th:replace="fragmentos/head::bootstrap"></div>

</head>

<!-- sec:authorize="hasRole('ROLE_nombre')"-->
<body>
	<div th:replace="fragmentos/navbar::user" sec:authorize="hasRole('user')"></div>
	<div th:replace="fragmentos/navbar::admin" sec:authorize="hasAnyRole({'admin_aerolinea','admin_aeropuerto','admin'})"></div>
	<div th:replace="fragmentos/mensajes::alertas"></div>
	
	<div class="container">
		<div class="col-12 p-2">
			<div class="card p-3 shadow-sm mb-3">			
	        	<h2 class="card-title wtext-green-light">Mis Datos</h2>
	        	<p class="card-text">
	        		rellena los siguientes campos para actualizar el registro de tus datos
	        		<small class="text-secondary">los campos con (*) son obligatorios</small>
	        	</p>
		     </div>  
		        <form th:action="@{/usuario/persona/datos}" th:object="${persona}" th:method="post" name="myform">
		        	<!--<div class="card-group p-3 col-sm-12 col-md-8 col-lg-6">-->
						<div class="row">
							<div class="col-lg-6">
							<table class="table  border shadow-sm bg-white">
								<tbody>
									<tr>
										<td class="wtext-green-light">
											<div class="form-group">
												<label class="small">Primer nombre*</label>
												<input type="text" th:field="*{pNombre}"
												class="form-control form-control-sm"
												autofocus/>
											</div>
											<small
												class="form-text text-danger"
												th:if="${#fields.hasErrors('pNombre')}" 
												th:errors="*{pNombre}">
											</small>
										</td>
										<td class="wtext-green-light">
											<div class="form-group">
												<label class="small">Segundo nombre</label>
												<input type="text" th:field="*{sNombre}"
												class="form-control form-control-sm"/>
											</div>
											<small
												class="form-text text-danger"
												th:if="${#fields.hasErrors('sNombre')}" 
												th:errors="*{sNombre}">
											</small>
											
										</td>
										<td class="col-0 col-md-2 col-lg-3"></td>
									</tr>
									<tr>
										<td class="wtext-green-light">
											<div class="form-group mt-1">
												<label class="small">Primer Apellido*</label>
												<input type="text" th:field="*{pApellido}"
												class="form-control form-control-sm"/>
											</div>
											<small
												class="form-text text-danger"
												th:if="${#fields.hasErrors('pApellido')}" 
												th:errors="*{pApellido}">
											</small>
										</td>
										<td class="wtext-green-light">
											<div class="form-group mt-1">
												<label class="small">Segundo Apellido</label>
												<input type="text" th:field="*{sApellido}"
												class="form-control form-control-sm"/>
											</div>
											<small
												class="form-text text-danger"
												th:if="${#fields.hasErrors('sApellido')}" 
												th:errors="*{sApellido}">
											</small>
										</td>
										<td class="col-0 col-md-2 col-lg-3"> </td>
									</tr>
								</tbody>
							</table>
							
							<table class="table  border shadow-sm bg-white">
								<tbody>
									<tr>
										<td>
											<div class="form-group">
												<label class="small wtext-green-light">Documento*</label>											
												<select th:field="*{documentoId}" class="form-control form-control-sm wselect" >
													<option value="">-- Tipo de documento --</option>
													<option th:each="td : ${tiposDocumento}" th:text="${td.nombre}" th:value="${td.id}"> </option>
												</select>
												<small
													class=" form-text text-danger"
													th:if="${#fields.hasErrors('documentoId')}"
													th:errors="*{documentoId}"></small>
											</div>
										</td>
										<td>
											<div class="form-group">
												<label for="usr" class="small wtext-green-light">Numero de Documento*</label>
												<input type="text" th:field="*{numeroDocumento}"
												class="form-control form-control-sm"/>
											</div>
											<small
												class="form-text text-danger"
												th:if="${#fields.hasErrors('numeroDocumento')}" 
												th:errors="*{numeroDocumento}">
											</small>
										</td>
										
									</tr>
									<tr>
										<td>
											<div class="wtext-green-light">Sexo*</div>
											<div class="form-group">
									            <div class="form-check">
									                <input type="radio" class="form-check-input" value="m" th:field="*{sexo}" checked>
									                <label class="form-check-label small" for="sexo1">
									                <i class="fas fa-mars fa-lg wtext-green-light"></i> Masculino</label>
									            </div>
									            <div class="form-check">
									                <input type="radio" class="form-check-input" value="f" th:field="*{sexo}">
									                <label class="form-check-label small" for="sexo2">
									                <i class="fas fa-venus fa-lg text-danger"></i> Femenino</label>
									            </div>
									        </div>
											<small
												class=" form-text text-danger"
												th:if="${#fields.hasErrors('sexo')}" 
												th:errors="*{sexo}">
											</small>
										</td>
										<td>
											<div class="form-group">
												<label class="wtext-green-light">Estado Civil*</label>											
												<select th:field="*{estadoCivilId}" class="form-control form-control-sm wselect" >
													<option value="">-- Estado Civil --</option>
													<option th:each="ec : ${estadosCivil}" th:text="${ec.nombre}" th:value="${ec.id}"></option>
												</select>
												<small
													class=" form-text text-danger"
													th:if="${#fields.hasErrors('estadoCivilId')}"
													th:errors="*{estadoCivilId}"></small>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							</div>
						
						
							<div class="col-lg-6">
							<table class="table  border shadow-sm bg-white">
								<tbody>
									<tr>
										<td class="col-4">
											<div class="form-group mt-1  wtext-green-light">
												<label for="fechaNacimiento" class="small">Fecha de Nacimiento*</label>
												<input type="date" class="form-control form-control-sm" id="fechaNacimiento" th:field="*{fechaNacimiento}" placeholder="yyyy/MM/dd" >
											</div>
											<small
												class=" form-text text-danger"
												th:if="${#fields.hasErrors('fechaNacimiento')}" 
												th:errors="*{fechaNacimiento}">
											</small>
										</td>								
									</tr>
									<tr>
										<td class="wtext-green-light">
											<div class="form-group">
												<label class="small">Numero de viajero Frecuente*</label>
												<input type="text" th:field="*{numViajero}"
												class="form-control form-control-sm"
												onkeyup="quitarEspacios('numViajero')"
												autofocus/>
											</div>
											<small
												class="form-text text-danger"
												th:if="${#fields.hasErrors('numViajero')}" 
												th:errors="*{numViajero}">
											</small>
										</td>								
									</tr>
									
									<tr>
										<td class="wtext-green-light">
											<div class="form-group">
												<label class="small">teléfono fijo*</label>
												<input type="text" th:field="*{telefonoFijo}"
												class="form-control form-control-sm"
												onkeyup="quitarEspacios('telefonoFijo')"
												autofocus/>
											</div>
											<small
												class="form-text text-danger"
												th:if="${#fields.hasErrors('telefonoFijo')}" 
												th:errors="*{telefonoFijo}">
											</small>
										</td>								
									</tr>
									
									<tr>
										<td class="wtext-green-light">
											<div class="form-group">
												<label class="small">teléfono movil*</label>
												<input type="text" th:field="*{telefonoMovil}"
												class="form-control form-control-sm"
												onkeyup="quitarEspacios('telefonoMovil')"
												autofocus/>
											</div>
											<small
												class="form-text text-danger"
												th:if="${#fields.hasErrors('telefonoMovil')}" 
												th:errors="*{telefonoMovil}">
											</small>
										</td>								
									</tr>
								</tbody>
							</table>
							</div>
							
							<div class="col-12 text-center mb-5">
							<button type="submit"
									class="btn btn-sm wbtn-outline-green w-75"
									onclick="document.getElementById('myform').formSubmit()">Guardar</button>
							<!--<table class="table  border shadow-sm bg-white">
								<tbody>
									<tr>
										<td> 
											<div class="alert alert-danger alert-block"
												th:if="${errorMessage!=null}" th:text="${errorMessage}"></div>
										</td>
									</tr>
									<tr>
										<td class="text-center">
											<button type="submit"
												class="btn btn-sm wbtn-outline-green w-75"
												onclick="document.getElementById('myform').formSubmit()">Guardar</button>
										</td>
									</tr>
								</tbody>
							</table>-->
							</div>
						</div>
					<!--</div>-->
				</form>	      
	    </div>
	</div>
	
</body>
</html>	