
<input type="hidden" name="id" th:field="${tipoAvion.id}"/>
<div class="modal-header">
    <h4 class="modal-title">Eliminar Tipo Avión</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="form-group">
        <p>
            ¿Está seguro de querer eliminar el tipo Avión: [[${tipoAvion.nombre}]]?
        </p>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar </button>
    <a  class="btn btn-danger" th:href="@{/avion/tipoAvion/eliminar/}+${tipoAvion.id}">Si, estoy seguro.</a>
</div>

