<form th:action="@{/avion/clase/crear}" th:object="${clase}" method="POST">
    <input type="hidden" name="idPersona" th:field="${clase.id}"/>
    <div class="modal-header">
        <h4 class="modal-title">Editar Clase</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="form-group">

            <label>Nombre de Clase</label>                            
            <input type="text" class="form-control" name="nombre" th:field="${clase.nombre}"  required="true"/>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar <i class="fa">&#xf00d;</i></button>
        <button type="submit" class="btn btn-primary">Agregar <i class="fa fa-plus-circle"></i></button>
    </div>
</form>


