<form th:action="@{/avion/tipoAvion/crear}" th:object="${tipoAvion}" method="POST">
    <input type="hidden" name="id" th:field="${tipoAvion.id}"/>
    <div class="modal-header">
        <h4 class="modal-title">Editar Tipo Avión</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="form-group">

            <label>Nombre de Tipo Avión</label>                            
            <input type="text" class="form-control" name="nombre" th:field="${tipoAvion.nombre}"  required="true"/>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar <i class="fa">&#xf00d;</i></button>
        <button type="submit" class="btn btn-primary">Agregar <i class="fa fa-plus-circle"></i></button>
    </div>
</form>


