<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<title>Login</title>
	<div th:replace="fragmentos/head::bootstrap"></div>
</head>

<body>
	
	<div th:replace="fragmentos/navbar::user"></div>
	
	<div class="container align-middle">
		<div class="card text-center mt-5">
			<div class="card-header text-center ">
				<h3 class="text-secondary">Air Wings Web</h3>
				<h5 class="text-secondary">te damos las alas de la libertad</h5> 
			</div>
			<div class="card-body">
				<div class="jumbotron">
				  <h1>Error 404</h1>
				  <p><i class="far fa-surprise"></i> La página que buscas no existe</p>
				</div>
			</div><!-- END CARD BODY -->
			
		</div>
	</div>
</body>
</html>