<!DOCTYPE html>
<html   
		xmlns:th="https://www.thymeleaf.org" 
		xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<meta charset="UTF-8" />
	<title th:text="${title}"></title>
	
	<div th:replace="fragmentos/head::bootstrap"></div>

</head>

<body>
	
	<div th:replace="fragmentos/navbar::user" sec:authorize="hasRole('user')"></div>
	<div th:replace="fragmentos/navbar::user" sec:authorize="hasRole('admin')"></div>
	<div th:replace="fragmentos/mensajes::alertas"></div>
	
	<div class="container">
		<div class="h1">Página principal</div>
		<p th:if="${info}">[[${info}]]</p>
	</div>
	<div th:replace="fragmentos/auth_info::info"></div>
</body>
</html>	