<!DOCTYPE html>
<html   
		xmlns:th="https://www.thymeleaf.org" 
		xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<meta charset="UTF-8" />
	<title th:text="${title}"></title>
	
	<div th:replace="fragmentos/head::bootstrap"></div>

</head>

<body>
	
	<div th:replace="fragmentos/navbar::user" sec:authorize="hasRole('user')"></div>
	<div th:replace="fragmentos/navbar::admin" sec:authorize="hasAnyRole({'aerolinea_admin','aeropuerto_admin','admin'})"></div>
	<div th:replace="fragmentos/mensajes::alertas"></div>
	
	<div class="container">
		<div class="h1 text-muted text-center mb-5">Sitio Administrativo</div>
		<div class="jumbotron mt-4">
		  <h1 class="display-4">Bienvenido a <span class="wtext-green-light">AirWings</span></h1>
		  <p class="lead">Bienvenido al sitio administrativo de AirWings</p>
		  <hr class="my-4">
		  <p>Desde este sitio administrativo, podrá realizar el mantenimiento de los diferentes elementos tales como aerolineas, aeropuertos, usuarios, etc.</p>
		  
		</div>
	</div>
	
	<footer th:replace="fragmentos/footer :: footer"></footer>
</body>
</html>	